body {
    background-color: blue;
}
.list {
    
    position: absolute;
    left: 40%;
    top: 45%;
    width: 400px;
    
}
.item {
    
    border: 2px green solid;
    background-color:rgb(26, 230, 148);
}

.editForm {
    left: 60%;
}